/* css reset and sane defaults */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
}

/* general page styles */
.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.viewport-height {
    min-height: 100vh;
}

.external-link {
    height: 1.2em;
}
.external-link path {
    fill: white;
}

.external {
    display: inline-flex;
    align-items: center;
    gap: 0.5ch;
}

.main, .header, .footer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1em;
}

header a, footer a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 5px;
    margin-bottom: 1em;
}

.content-heading {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.content-heading nav ul {
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    gap: 1em;
}

/* main styles*/
/* links */
main a {
    text-decoration: none;
    /* TODO change this color. not WCAG */
    color: #2baa74; 
}

main a:hover {
    text-decoration: underline;
}

/* table */
table {
    width: 100%;
}

th {
    text-align: left;
}

/* from */
.search-form {
    padding-top: 1.5em;
}

main form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-basis: 500px;
    gap: 1em;
}

main form hr {
    margin-bottom: 0;
}

main .input-group {
    display: flex;
    flex-direction: column;
}

main .submit-group {
    display: flex;
    gap: 1em;
}

main .submit-group > * {
    flex-basis: 50%;
}

main form button, main form a, main form a:hover {
    border: none;
    background-color: #0b492e;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
}

main form textarea {
    resize: none;
    height: 40vh;
}

/* quiz details */
header {
    filter: drop-shadow(0 5px 5px black);
    margin-bottom: 1.5em;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 1em;
}

.heading nav ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    display: flex;
    gap: 1em;
}

.lyrics {
    font-size: 1.1em;
}

.quiz-lyrics-heading {
    display: flex;
    justify-content: space-between;
    max-width: 65ch;
}

.quiz-lyrics-heading-info {
    display: flex;
    gap: 1em;
    align-items: end;
}

/* table */


/* text styling, paragraphs and headings */
html {
    line-height: 1.5;
}

h1 {
    margin-top: 1.5em;
}

h2, h3 {
    margin-top: 1em;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p {
    max-width: 65ch;
}

.p-width {
    max-width: 65ch;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.text-danger, .alert {
    color: #BA2121;
}

/* result */
.result-heading {
    display: flex;
    gap: 1em;
    align-items: center;
}
.result-heading p span {
    font-weight: bold;
}


/* header styling */
header {
    padding: 0.5em 0;
    background-color: #0b492e;
    
}

.logotype {
    width: 150px;
}

.logotype path {
    fill: white;
}

header nav {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

header .left {
    display: flex;
    align-items: end;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    list-style-position: inside;
    display: flex;
    gap: 1em;
}

.logout {
    border: none;
    background-color: #00000000;
    color: white;
    font-size: inherit;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}

/* footer */
footer {
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #0b492e;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-around;
}

/* quiz styling */
.missing {
    display: inline-flex;
    height: 0.9em;
    background-color: #EA8181;
    border-radius: 3px;
}

.result-missing {
    display: inline-flex;
    background-color: #EA8181;
    padding: 0 0.25ch;
    margin: 0 -0.25ch;
}

.result-exists {
    display: inline-flex;
    background-color: #2baa74;
    padding: 0 0.25ch;
    margin: 0 -0.25ch;
}