@model Quiz

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="content-heading">
    <h2>Quiz</h2>
    <p>
        <a asp-action="Index">Back to quiz list</a>
    </p>
</div>
<hr/>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="input-group">
        <label asp-for="Lyric" class="control-label"></label>
        <textarea asp-for="Lyric" class="form-control"></textarea>
        <span asp-validation-for="Lyric" class="text-danger"></span>
    </div>
    <div class="input-group">
        <label asp-for="TimeLimitSec" class="control-label"></label>
        <input asp-for="TimeLimitSec" class="form-control"/>
        <span asp-validation-for="TimeLimitSec" class="text-danger"></span>
    </div>
    <div class="submit-group">
        <button>Create</button>
    </div>
</form>