@model Quiz

@{
    ViewData["Title"] = $"Delete | {Model.Name}";
}

<div class="content-heading">
    <h1>Delete</h1>
    <nav>
        <ul>
            <a asp-action="Details" asp-route-id="@Model.Id">Quiz</a>
            <a asp-action="Index">Quiz list</a>
        </ul>
    </nav>
</div>
<hr/>
<div class="content">
    <div class="text">
        <p>You are about to delete: <strong >@Html.DisplayFor(model => model.Name)</strong></p>
        <p>Are you sure you want to delete it?</p>
        <p>
            <strong class="alert">This is irreversible.</strong>
        </p>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <div class="submit-group">
            <button>Delete</button>
        </div>
    </form>
</div>