@model Quiz

@{
    ViewData["Title"] = $"Edit | {Model.Name}";
}

<div class="content-heading">
    <h1>Edit</h1>
    <nav>
        <ul>
            <li><a asp-action="Details" asp-route-id="@Model.Id">Quiz</a></li>
            <li><a asp-action="Index">Quiz list</a></li>
        </ul>
        
        
    </nav>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Lyric" class="control-label"></label>
                <textarea asp-for="Lyric" class="form-control"></textarea>
                <span asp-validation-for="Lyric" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="TimeLimitSec" class="control-label"></label>
                <input asp-for="TimeLimitSec" class="form-control" />
                <span asp-validation-for="TimeLimitSec" class="text-danger"></span>
            </div>
            <div class="submit-group">
                <button>Save</button>
            </div>
        </form>
    </div>
</div>

